<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 定义数据源的信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost/tkin</value>
		</property>
		<property name="user">
			<value>Jerry</value>
		</property>
		<property name="password">
			<value>password</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!--定义Hibernate的SessionFactory -->
	<!-- SessionFactory使用的数据源为上面的数据源 -->
	<!-- 指定了Hibernate的映射文件和配置信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>model.User</value>
				<value>model.Family</value>
				<value>model.PaymentRecord</value>
				<value>model.Activity</value>
				<value>model.ActivityRecord</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDao" class="dao.impl.UserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="activityDao" class="dao.impl.ActivityDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	

	<!--用户注册业务逻辑类 -->
	<bean id="userManager" class="service.impl.UserManagerImpl">
		<property name="dao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="activityManager" class="service.impl.ActivityManagerImpl">
		<property name="dao">
			<ref bean="activityDao" />
		</property>
	</bean>

	<!-- 用户注册的Action -->
	<bean id="regAction" class="action.RegisterAction" scope="prototype">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	<bean id="familyregAction" class="action.FamilyRegisterAction" scope="prototype">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	
	<bean id="loginAction" class="action.LoginAction" scope="prototype">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	
	<bean id="showUserInfoAction" class="action.ShowUserInfoAction" scope="prototype">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	
	<bean id="showUserAction" class="action.ShowUserAction" scope="prototype">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	
	<bean id="showActivityAction" class="action.ShowActivityAction" scope="prototype">
		<property name="activityManager">
			<ref bean="activityManager" />
		</property>
	</bean>
	
	<bean id="addActivityAction" class="action.AddActivityAction" scope="prototype">
		<property name="activityManager">
			<ref bean="activityManager" />
		</property>
	</bean>

	<!-- more bean definitions go here -->

</beans>
